# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
.vscode

# SCSS-Lint
scss-lint-report.xml

# Folders to ignore
node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore next-mdx-enhanced cache directory
.mdx-data

# build output
/build
dist
.next
/.next/
/out/
public

.vercel
